{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}HOKO{% endblock %}</title>
  
  <!-- Fuentes -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  
  <!-- Estilos -->
  <link rel="stylesheet" href="{% static 'css/styles_productos.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="layout-container">
    <!-- Menú lateral -->
    <div class="sidebar">
      <div class="sidebar-header">
        <button class="menu-toggle" onclick="toggleMenu()" aria-label="Abrir menú lateral"></button>
        <h1 class="logo-title">HOKO</h1>
      </div>
      <nav>
        <ul class="menu" id="menu" aria-label="Menú de navegación">
            <li class="menu-item {% if request.resolver_match.url_name == 'listar_productos' %}active{% endif %}">
                <a href="{% url 'listar_productos' %}">
                    <i class="fas fa-box"></i> Productos
                </a>
            </li>
            <li class="menu-item {% if request.resolver_match.url_name == 'listar_stocks' %}active{% endif %}">
                <a href="{% url 'listar_stocks' %}">
                    <i class="fas fa-warehouse"></i> Stock
                </a>
            </li>
            <li class="menu-item {% if request.resolver_match.url_name == 'listar_stocks' %}active{% endif %}">
              <a href="{% url 'listar_bodegas' %}">
                  <i class="fas fa-warehouse"></i> Bodegas
              </a>
          </li>
          <li class="menu-item {% if request.resolver_match.url_name == 'listar_stocks' %}active{% endif %}">
            <a href="{% url 'listar_guias' %}">
                <i class="fas fa-warehouse"></i> Guias
            </a>
        </li>
        </ul>
    </nav>
    </div>

    <!-- Contenido principal -->
    <main class="main-content">
      {% block content %}{% endblock %}
    </main>
  </div>

  <!-- JavaScript -->
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/ejemplo.js' %}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>